<div class="container album_cards p-5">
 <h1 class=" row justify-content-center mb-4"><%=heading%></h1>
   <div class="row g-3 justify-content-center">
      <%albums.each do |album|%>
         <div class="col-lg-3 col-md-6">
            <div class="card album_card" style="width:18rem">         
               <%= image_tag  album.cover_image, class:"card-img-top card_img",style:"width:100%;height:20vh"%>
               <div class="card-body text-center",style="height:50vh">
                  <h5 class="card-title"><%=album.title%></h5>
                  <p class="text"><%=album.description%></p>
                  <p class="text"><b>Created by: </b><%=album.user.username%></p>
                  <p class="card-text"><%=album.published ? "published" : "unpublished"%></p>
                  <p class="card-text"><b>Tagged by:</b> <%=album.tagged%></p>
                <%=link_to "Go to Album",album,class:"btn btn-success"%>
               </div>
            </div>
         </div>
      <%end%>
   </div>
</div>